<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style lang="css">
#app h2 {
  font-size: 1.5rem;
}
.datetime-label {
  color: #9e9e9e;
  font-size: .8rem;
}
</style>
