<template>
    <div class="row" id="sitesList">
        <h2>Windfarm Sites</h2>
        <div v-if="hasSites">
          <ul class="collection">
                <li class="collection-item" v-for="site in Sites" :key="site.id" @click="goToSite(site.id)">
                    <span class="title">{{ site.name }}</span>
                    <div class="right">{{ site.numTurbines }} Turbines</div>
                    <div class="datetime-label">{{ site.company }} - {{ site.state }}</div>
                    <div class="datetime-label right">COD: {{ site.cod }}</div>
                    <div class="datetime-label">True Up: {{ site.trueup }}</div>
                </li>
          </ul>
        </div>
        <p v-if="noSites">{{this.msg}}</p>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "Sites",
  computed: {
    hasSites() {
      return this.isLoading === false && this.Sites.length > 0;
    },
    noSites() {
      return this.isLoading === false && this.Sites.length === 0;
    }
  },
  data() {
    return {
      isLoading: false,
      selectedSiteID: 0,
      Sites: [],
      msg: "Loading sites..."
    };
  },
  methods: {
    getSite( id ) {
      const site = this.Sites.find( e => e.id === id );
      this.selectedSite = site.name;
      this.selectedSiteID = site.id;
      axios
        .get( `/api/sites/${ id }` )
        .then( res => {
          this.isLoading = false;
          this.Turbines = this.formatTurbines( res.data );
        } )
        .catch( err => {
          this.msg = err.message;
          window.console.log( err );
        } );
    },
    formatDate( d ) {
      return d ? moment.utc( d ).format( "MMM D, YYYY" ) : "";
    },
    formatTime( t ) {
      return t ? moment( t ).format( "h:mm a" ) : "";
    },
    formatSites( Sites ) {
      return Sites.map( site => {
        return {
          id: site.id,
          name: site.site_name,
          company: site.company_name,
          address: site.address,
          city: site.city,
          state: site.state,
          region: site.region_name,
          numTurbines: site.num_turbines,
          cod: this.formatDate( site.cod_date ),
          trueup: this.formatDate( site.trueup_date )
        };
      } );
    },
    loadSites() {
      axios
        .get( "/api/sites" )
        .then( res => {
          this.isLoading = false;
          this.Sites = this.formatSites( res.data );
        } )
        .catch( err => {
          this.msg = err.message;
          window.console.log( err );
        } );
    },
    goToSite( siteId ) {
      this.$router.push( { name: "site", params: { id: siteId } } );
    }
  },
  mounted() {
    return this.loadSites();
  }
};
</script>

<style lang="css">
#app h2 {
  font-size: 1.5rem;
}
.datetime-label {
  color: #9e9e9e;
  font-size: .8rem;
}
</style>
