<template>
    <div class="row" id="turbineList">
        <h2>{{ this.siteName }} <span class="datetime-label">by {{ this.companyName }}</span></h2>
        <div v-if="hasTurbines">
          <ul class="collection">
                <li class="collection-item" v-for="turbine in Site" :key="turbine.id" @click="goToTurbine(turbine.id)">
                    <span class="title">{{ turbine.name }}</span>
                    <span>{{ turbine.model }}</span>
                    <span>{{ turbine.blade }}</span>
                    <span class="datetime-label">{{ turbine.software }}</span><br/>
                    <span class="datetime-label">Contract: {{ turbine.dStart }}</span>
                    <span class="datetime-label" v-if="turbine.dEnd.length">- {{ turbine.dEnd }}</span>
                </li>
          </ul>
        </div>
        <p v-if="noTurbines">{{this.msg}}</p>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "Site",
  computed: {
    hasTurbines() {
      return this.isLoading === false && this.Site.length > 0;
    },
    noTurbines() {
      return this.isLoading === false && this.Site.length === 0;
    }
  },
  data() {
    return {
      isLoading: false,
      selectedTurbineID: 0,
      Site: [],
      siteName: "Site Turbines",
      companyName: "...",
      msg: "Loading turbines..."
    };
  },
  methods: {
    loadSite( id ) {
      axios
        .get( `/api/sites/${ id }` )
        .then( res => {
          this.isLoading = false;
          this.Site = this.formatTurbines( res.data );
          this.siteName = res.data[ 0 ].site_name;
          this.companyName = res.data[ 0 ].company_name;
        } )
        .catch( err => {
          this.msg = err.message;
          window.console.log( err );
        } );
    },
    formatDate( d ) {
      return d ? moment.utc( d ).format( "MMM D, YYYY" ) : "";
    },
    formatTime( t ) {
      return t ? moment( t ).format( "h:mm a" ) : "";
    },
    formatTurbines( Site ) {
      return Site.map( turbine => {
        return {
          id: turbine.turbine_id,
          name: turbine.turbine_name,
          model: turbine.model_name,
          company: turbine.company_name,
          software: turbine.software_description,
          blade: turbine.blade_type,
          dStart: this.formatDate( turbine.contract_start_date ),
          dEnd: this.formatDate( turbine.contract_end_date )
        };
      } );
    },
    goToTurbine( turbineId ) {
      this.$router.push( { name: "turbine", params: { id: turbineId } } );
    }
  },
  mounted() {
    return this.loadSite( this.$route.params.id );
  }
};
</script>

<style lang="css">
#app h2 {
  font-size: 1.5rem;
}
.datetime-label {
  color: #9e9e9e;
  font-size: .8rem;
}
</style>
