<template>
    <div class="row" id="turbineDetail">
        <h2>{{ this.turbineName }} <span class="datetime-label">at {{ this.siteName }}</span></h2>
        <div v-if="hasTurbine">
          <ul class="collection">
                <li class="collection-item" v-for="item in Turbine" :key="item.id">
                    <span class="title">Model: {{ item.model }}</span><br/>
                    <span>Blade: {{ item.blade }}</span><br/>
                    <span class="datetime-label">{{ item.software }}</span><br/>
                    <span class="datetime-label">Contract: {{ item.dStart }}</span>
                    <span class="datetime-label" v-if="item.dEnd.length">- {{ item.dEnd }}</span>
                </li>
          </ul>
        </div>
        <p v-if="noTurbine">{{this.msg}}</p>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "Turbine",
  computed: {
    hasTurbine() {
      return this.isLoading === false && this.Turbine.length > 0;
    },
    noTurbine() {
      return this.isLoading === false && this.Turbine.length === 0;
    }
  },
  data() {
    return {
      isLoading: false,
      Turbine: [],
      siteName: "...",
      turbineName: "...",
      msg: "Loading turbine..."
    };
  },
  methods: {
    loadTurbine( id ) {
      axios
        .get( `/api/turbine/${ id }` )
        .then( res => {
          this.isLoading = false;
          this.Turbine = this.formatTurbine( res.data );
          this.siteName = res.data[ 0 ].site_name;
          this.turbineName = res.data[ 0 ].turbine_name;
        } )
        .catch( err => {
          this.msg = err.message;
          window.console.log( err );
        } );
    },
    formatDate( d ) {
      return d ? moment.utc( d ).format( "MMM D, YYYY" ) : "";
    },
    formatTime( t ) {
      return t ? moment( t ).format( "h:mm a" ) : "";
    },
    formatTurbine( Turbine ) {
      return Turbine.map( turbine => {
        return {
          id: turbine.id,
          name: turbine.turbine_name,
          model: turbine.model_name,
          company: turbine.company_name,
          software: turbine.software_description,
          blade: turbine.blade_type,
          dStart: this.formatDate( turbine.contract_start_date ),
          dEnd: this.formatDate( turbine.contract_end_date )
        };
      } );
    },
    editTurbine( turbineId ) {
      this.$router.push( { name: "turbine", params: { id: turbineId } } );
    }
  },
  mounted() {
    return this.loadTurbine( this.$route.params.id );
  }
};
</script>

<style lang="css">
#app h2 {
  font-size: 1.5rem;
}
.datetime-label {
  color: #9e9e9e;
  font-size: .8rem;
}
</style>
